@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 199 100% 95%;
    --foreground: 199 5% 2%;
    --card: 199 50% 90%;
    --card-foreground: 199 5% 10%;
    --popover: 199 100% 95%;
    --popover-foreground: 199 100% 2%;
    --primary: 199 100% 35%;
    --primary-foreground: 0 0% 100%;
    --secondary: 199 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 161 30% 85%;
    --muted-foreground: 199 5% 35%;
    --accent: 161 30% 80%;
    --accent-foreground: 199 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 199 5% 90%;
    --border: 199 30% 50%;
    --input: 199 30% 18%;
    --ring: 199 100% 35%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 199 50% 5%;
    --foreground: 199 5% 90%;
    --card: 199 50% 2%;
    --card-foreground: 199 5% 90%;
    --popover: 199 50% 5%;
    --popover-foreground: 199 5% 90%;
    --primary: 199 100% 35%;
    --primary-foreground: 0 0% 100%;
    --secondary: 199 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 161 30% 15%;
    --muted-foreground: 199 5% 60%;
    --accent: 161 30% 15%;
    --accent-foreground: 199 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 199 5% 90%;
    --border: 199 30% 18%;
    --input: 199 30% 18%;
    --ring: 199 100% 35%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #1d1c1c;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.progress {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(217, 197, 118) 25%,
    rgb(255, 195, 17) 50%,
    rgb(228, 101, 23) 75%,
    rgb(214, 33, 33) 100%
  );
}

.temperature {
  background-image: linear-gradient(to right, #00dfff 0%, #00f9ff 20%, yellow);
}

.footer-text > img {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

footer:hover .footer-text > img {
  filter: grayscale(0%);
}

@media screen and (max-width: 581px) {
  .btn-group {
    position: fixed;
    bottom: 2%;
    right: 1rem;
    z-index: 1000;
  }

  .btn-group button {
    box-shadow: 2px 3px 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
  }

  .search-container {
    width: 100%;
  }

  .search-btn {
    width: 100%;
  }

  .search-btn button {
    width: 100%;
  }
}

@media screen and (max-width: 1010px) {
  .mapbox-con {
    flex-direction: column;
  }

  .mapbox-con > div:first-child {
    height: 24rem;
    flex: initial;
  }
}
